<h1>Logopedie</h1>

<p>Logopedia este o specialitate terapeutico-medicală care se ocupă de persoanele ce au dificultăți în comunicare datorate unor tulburări ale limbajului, vocii, înghițitului, auzului sau respirație. Acest tip de terapie se axează, atât în teorie cât și în practică, pe cercetarea, prevenirea, diagnosticul, terapia și reabilitarea acestui gen de dizabilități.</p>

<p>În cadrul evaluării vor fi urmați câțiva pași specifici, și anume:</p>

<ul>
    <li>Consemnarea istoriei copilului (anamneza);</li>
    <li>Examinarea vorbirii;</li>
    <li>Examinarea motricității;</li>
    <li>Examenul dezvoltării mintale si psihologice.</li>
</ul>

<p>După obținerea informațiilor necesare se umreaza un program de abilitare a copilului urmând câteva repere:</p>

<ul>
    <li>educarea mișcărilor articulatorii (exerciții de mobilitate generală, mobilitatea aparatului fono-articulator (a gurii));</li>
    <li>educarea respirației;</li>
    <li>învățarea discriminării diferitelor sunete;</li>
    <li>pronunția de la cuvinte simple până la fraze complexe.</li>
</ul>