<h1>Terapie TEACCH</h1>

<p>TEACCH este o metoda de intervenție elaborată pentru a înțelege particularitățile gândirii persoanelor cu autism, a modului in care ei pot fi ajutați să se integreze în societate, pornind de la abilitățile învățării specifice fiecărui individ.</p>

<p>Principalele scopuri ale acestei metode sunt de a maximiza independenţa persoanei, structurând pe cât posibil spațiul în care se află copilul și elaborând programe individualizate în funcție de vârsta și nevoile copilulul, astfel  acesta fiind învățat să controleze atât mediul cât și propriul comportament. În cadrul intervenției terapeutice este utilizat suportul vizual pentru a face desfășurarea timpului mai predictibilă și sarcinile copilului mai ușor de înțeles.</p>

<p>Metoda TEACCH este susținută de numeroase cercetări științifice care au la bază o expertiza clinică extinsă.</p>