<h1>Terapie de grup</h1>

<p>Terapie da grup își propune utilizarea combinată a terapiei ocupaționale, ludoterapiei, terapiei de expresie grafică și plastică și a stimulării cognitive, astfel încât participanții să acumuleze abilități dintr-o gamă largă de domenii cu scopul organizării și formării autonomiei personale și sociale.</p>

<p>Terapia ocupațională are la bază următoarele principii:</p>

<ul>
    <li>formarea deprinderilor de viață cotidiană</li>
    <li>formarea deprinderilor de autonomie și igienă personală</li>
    <li>cultivarea autocontrolului</li>
    <li>educarea capacităților cognitive</li>
    <li>antrenarea integrării senzoriale</li>
    <li>sprijinirea relațiilor interpersonale</li>
    <li>educarea abilotăților de joacă și petrecere a timpului liber</li>
</ul>

<h2>Ludoterapia</h2>

<p>Acest tip de intervenție promoveaza jocul ca modalitate de comunicare între copil și lumea obiectelor și a oamenilor. Cunoașterea realizându-se astfel într-o manieră plăcută și distractivă care induce o stare de relaxare și complianță a copilului.</p>

<p>Terapia de expresie grafică și plastică cuprinde:</p>

<ul>
    <li>modelaj</li>
    <li>desen</li>
    <li>pictură</li>
    <li>decupaj sau sculptură în funcție de posibilități</li>
</ul>

<p>Prin intermediul acestor tipri de activități copilul va reuși să se exprime mai repede și mai ușor decât prin comunicarea verbală ceea ce ajută atât la scăderea nivelului de frustrare cât și la adunarea unor informații utile pentru înțelegerea conduitei. De asemenea putem vorbi în acest context și de formarea unor situații de învățare utile celor care beneficiază de acest tip de terapie.</p>

<h2>Stimularea cognitivă</h2>

<p>Acest tip de stimulare urmărește în linii integrarea și înțelegerea de către copil a tuturor stimulilor care acționează asupra  celor cinci simțuri și de asemenea realizarea deconexiuni între aceștia. </p>

<p>Urmând aceste obiective se pot desfășura următoarele activități:</p>

<ul>
    <li>cunoașterea și dezvoltarea sensibilității tactile</li>
    <li>cunoașterea și dezvoltarea sensibilității vizual-perceptive</li>
    <li>cunoașterea și dezvoltarea sensibilității gustative</li>
    <li>cunoașterea și dezvoltarea sensibilității olfactive</li>
    <li>cunoașterea și dezvoltarea sensibilității auditive</li>
    <li>corelații dintre sensibilitatea vizuală și cea tactilă</li>
    <li>corelații dintre sensibilitatea gustativă și cea olfactivă</li>
</ul>