<h1>Terapie GIVE ME FIVE</h1>

<p>GIVE ME FIVE este o metodă de intervenție în autism care pornește de la ideea că, pentru a putea face față cerințelor mediului copilul trebuie să știe răspunsul la cinci întrebări esențiale, acestea fiind:</p>

<ul>
    <li><strong>CE?</strong> Sarcina: tot ceea ce trebuie sa facă persoana;</li>
    <li><strong>CUM?</strong> Modul în care trebuie îndeplinită corect sarcina;</li>
    <li><strong>CÂND?</strong> Când începe şi când se termină sarcina;</li>
    <li><strong>UNDE?</strong> În ce loc trebuie să se facă sarcina;</li>
    <li><strong>CINE?</strong> El o va face?  Ce face celălalt?</li>
</ul>

<p>Învățându-l treptat pe copil răspunsurile la aceste întrebari care vor fi legate de fiecare obiect/persoana cu care are contact, îl vom ajută să înțeleaga complexitatea situațiilor cu care se confruntă zilnic, scăzând astfel nivelul de frustrare și neadecvare.</p>