{% extends '::mopa_base.html.twig' %}

{% block head_style %}
    {{ parent() }}

    <link href="{{ asset("bundles/mopabootstrap/bootstrap/dist/css/bootstrap.css") }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset("bundles/mopabootstrap/bootstrap/dist/css/bootstrap.min.css") }}" type="text/css" rel="stylesheet" media="screen" />

    {% stylesheets
        '@DamOSansaBundle/Resources/public/css/application.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}
{% block title %}Asociația Dăm o Șansă Viitorului{% endblock %}

{% block body %}
    {% include '@DamOSansa/Content/header.html.twig' %}
    {% include '@DamOSansa/Content/_navigator.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 page-content">{% block content %}{% endblock %}</div>
            <div class="col-md-3 col-md-push-1 sidebar" role="navigation">{% include '@DamOSansa/Content/sidebar.html.twig' %}</div>
        </div>
    </div>

    {% include '@DamOSansa/Content/footer.html.twig' %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45612540-1', 'damosansaviitorului.ro');
        ga('send', 'pageview');

    </script>
{% endblock %}