<h1>Tulburări pervazive de dezvoltare</h1>
<h2 class="text-muted">Autism, sindromul Asperger, Sindromul Rett, Tulburarea Dezintegrativă a copilăriei</h2>

<p>Tulburărilor pervazive de dezvoltare au origine bio-chimică sau sunt asociate cu probleme genetice. Conceptul de tulburare pervazivă cuprinde definiția unei combinații de dificultăți de dezvoltare a comunicării, inteligenței sociale și a imaginației - ceea ce înseamnă că mesajele transmise la creier sunt prost receptate și interpretate, existând o ruptură între senzație și percepție. Această gamă de dizabilități încadrează: Tulburarea de tip autist, Sindromul Asperger, Tulburarea Dezintegrativa a Copilariei, Sindromul Rett, Tulburarea Globala (Pervaziva) de Dezvoltare – inclusiv autismul atipic.</p>

<h2>Autism</h2>

<p>Autismul este cea mai cunoscută dintre tulburările pervazive de dezvoltare având ca principale caracteristici comunicarea deficitară, dizabilitatea socială și comportamentele repetitive și stereotipe.</p>

<p>Putem vorbi de cateva puncte de reper pentru diagnosticarea acestei tulburări:</p>

<p><strong>1. Dizabilitate socială manifestată prin:</strong></p>

<ul>
    <li>Utilizarea disfuncționala sau lipsa comportamentelor nonverbale precum focalizarea privirii, expresia facială, poziția corpului; </li>
    <li>Dezinteres manifestat în ceea ce privește împărtășirea experiențelor cu alte persoane, preferând prezența unor obiecte pe care le utilizează într-un mod stereotip</li>
</ul>

<p><strong>2. Comunicare deficitară manifestată prin:</strong></p>

<ul>
    <li>Întârzierea sau lipsa totală în dezvoltarea limbajului (nu este acompaniat de încercarea de a compensa prin modalitățile alternative de comunicare, cum ar fi gestică sau mimică) ;</li>
</ul>

<p><strong>3. Comportamente repetitive și stereotipe:</strong></p>

<ul>
    <li>Rigiditatea jocului, a comportamentului și activitățior;</li>
    <li>Lipsa jocurilor simbolice, abstracte sau jocului imitativ social</li>
    <li>Preocuparea mare pentru una sau mai multe stereotipii și patternuri neacceptate, bizară prin intensitate și concentare (mișcări motorii precum: mersul pe vârfuri, fluturatul mâinilor, învârțitul)</li>
</ul>

<p><strong>4. Rezistența la schimbare </strong></p>

<ul>
    <li>Orice modificare a mediului este urmată de un comportament de rezistență, o stare emoțională negativă foarte accentuată precum furie, țipete, agitație.</li>
</ul>

<h2>Sindromul Asperger</h2>

<p>Sindromul Asperger este caracterizat, asemenea autismului, de deficite comportamentale, arie restrânsă de interes, manierisme stereotipe. Cu toate acestea copiii diagnosticați cu Sindromul Asperger au o funcționare cognitivă și de limbaj bună, putând acumula multe informații prin memorare mecanică. Așadar nu există o întârziere în motricitate și lombaj. Printre cele mai dificile probleme în cazul lor este însă dificultatea de a rezona afectiv, de reciprocitate emoțională și comunicare empatică susținute și de lipsa mobilității și expresivității faciale, a gesturilor și posturilor corpotale cu scop de comunicare.</p>