<h1>Sindromul Down</h1>

<p>Sindromul  Down este o boală genetică ce presupune o modificare la nivel cromozomial care se manifestă prin:</p>

<ul>
    <li>Tonus muscular scăzut</li>
    <li>Aspect fizic specific: cap mic, rotund, aplatizat; dinți implantați neregulat, inegali; gât scurt, torace lărgit, mâini mici, degete scurte și divergente; picioare scurte, plate</li>
    <li>Ferecvente malformații congenitale precum cele cardiace, disfuncții alimentare</li>
    <li>Diverse grade de deficiență mintală</li>
    <li>Dezvoltare psihomotorie întârziată</li>
    <li>Atenție labilă</li>
    <li>Memoria preponderent mecanică</li>
    <li>Dezvoltarea limbajului întârziată</li>
</ul>