<h1>Tulburările de limbaj</h1>

<p>Clasificarea tulburărilor de limbaj:</p>

<ul>
    <li>Tulburări de pronunție: dislalie, rinolalie, dizartrie;</li>
    <li>Tulburări de ritm și fluență a vorbirii: bâlbâiala, tahilalia, bradilalia, logonevroza;</li>
    <li>Tulburări de voce: afonia, disfonia, fonastenia;</li>
    <li>Tulburări ale limbajului citit-scris: dislexia, alexia, disgrafia, agrafia;</li>
    <li>Tulburări polimorfe: afazia, alalia;</li>
    <li>Tulburări de dezvoltare a limbajului: mutism patogen, electiv, voluntar, întârzierea în dezvoltarea generală a vorbirii;</li>
    <li>Tulburări ale limbajului bazate pe disfuncții psihice: dislogii, ecolalii, jargonofazii, bradifazii.</li>
</ul>

<p>În ceea ce privește dezvoltarea limbajului putem vorbi despre mai multe tipuri de înârziere, fiecare dintre ele având o cauză și un prognostic diferit. Asadar există cazuri în care:</p>

<ul>
    <li>Copilul nu încearcă să vorbească și nu răspunde la cerințele adultului, comunicând doar prin comportamente inadecvate.</li>
    <li>Copilul are un vocabular sărac pentru vârsta sa însă înțelege sarcinile și răspunde la ele</li>
    <li>Copilul a dezvoltat normal limbajul până la un moment dat marcat de un eveniment care a dus la întreruperea vorbirii</li>
    <li>Copilul folosește adecvat comunicarea doar în anumite contexte, aceasta devenind deficitară la contactul cu altele.</li>
</ul>