<h1>Tulburările de comportament</h1>

<p>Tulburările de comportament sunt în general definite ca fiind abateri de la normele pe care le promovează o anumită societate. Comportamentul inadecvat poate apărea la toate vârstele și poate avea o varietate de cauze în funcție de tipul de personalitate, de educație, ereditate și de mediul în care a crescut individul. De asemenea pot fi și determinanți de natură organică ai unui comportament deviant.</p>