/*
Copyright Petre Pătrașc 2013

Colour theme available at:
https://kuler.adobe.com/beer-color-theme-3112834/
*/

@theme-color-1: #37324A;
@theme-color-2: #933C60;
@theme-color-3: #F3A358;
@theme-color-4: #235e5b;
@theme-color-5: #F8DB9A;

@import 'bootstrap-theme.less';
@import 'header.less';
@import 'sidebar.less';
@import 'content.less';
@import 'footer.less';

@import 'theme.less';