.project-icon {
  height: 30px;
}

.page-content {
  padding: 1em 0;

  img {
    margin: 1em 0;
  }
}

.listing-with-thumbnail {

  h3 {
    padding-top: 20px;
  }

  img {
    margin-right: 1em;
  }
}