.sidebar {
  padding: 0;
  margin: 0;
}

.sidebar-item {
  border: 1px solid #c9c9c9;
  background-color: #eee;
  margin-top: 1em;

  a {
    display: block;
    font-size: 120%;
    margin-bottom: 1em;
  }

  h3 {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 0.5em;
    margin: 0.5em 0 1em;
  }
}