{% block navigator %}
    <div class="container-fluid navigator">
        <div class="container">
            <div class="row">
                <span class="page-title col-lg-5">Asociația Dăm o Șansă Viitorului</span>

                <div class="col-lg-3 pull-right social-media-icons">
                    <a href="https://www.facebook.com/www.damosansaviitorului.ro" target="_blank"><img class="social-media-icon facebook-icon img-circle" src="{{ asset('bundles/damosansa/images/facebook-icon.png') }}"></a>
                    <a href="https://www.youtube.com/channel/UC8euAbu4QV6Y34a0Qn0WXgA" target="_blank"><img class="social-media-icon youtube-icon img-circle" src="{{ asset('bundles/damosansa/images/youtube-icon.png') }}"></a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}