{% block navigator %}
    <div class="container-fluid navigator">
        <div class="container">
            <div class="row">
                <span class="page-title col-lg-5">{{ pageTitle }}</span>

                <ol class="breadcrumb col-lg-3 pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>

            </div>
        </div>
    </div>
{% endblock %}