{% block navigator %}
    <div class="container-fluid navigator">
        <div class="container">
            <div class="row">
                <span class="page-title col-lg-5">Asociația Dăm o Șansă Viitorului</span>

                <div class="col-lg-3 pull-right">
                    <a href="#" target="_blank"><img class="social-media-icon facebook-icon img-circle" src="{{ asset('bundles/damosansa/images/facebook-icon.png') }}"></a>
                    <a href="#" target="_blank"><img class="social-media-icon youtube-icon img-circle" src="{{ asset('bundles/damosansa/images/youtube-icon.png') }}"></a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}