{% extends '::base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}

{% block content %}
    <iframe class="col-lg-12 col-sm-12 col-xs-12" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ro/maps?f=q&amp;source=s_q&amp;hl=ro&amp;geocode=&amp;q=46+Strada+Galata,+Voluntari,+Ilfov&amp;aq=0&amp;oq=Strada+Galata+46+&amp;sll=44.437833,26.095893&amp;sspn=0.422615,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=Strada+Galata,+Voluntari,+Ilfov&amp;t=m&amp;z=14&amp;ll=44.49495,26.179778&amp;output=embed"></iframe>

    <h1>Contact</h1>

    <p>Indiferent ce întrebări aveți, puteți lua legătura cu noi prin intermediul datelor telefonice sau al email-ului de mai jos.</p>
    <br><br>

    <div class="col-md-6">
        <h2>Adresă</h2>
        <address><strong>
            Strada Galata, nr. 46, <br>
            Sc. 1, Ap. U11,<br />
            Voluntari,<br>
            Ilfov,<br>
            România
        </strong></address>
    </div>

    <div class="col-md-6">
        <h2>Date de contact</h2>

        <strong>Telefon: </strong><br />

        <em>0762811376</em><br />
        <em>0732238653</em><br />
        <em>0740216762</em><br />

        <br />

        <strong>Email: </strong><br />

        info.adsv@gmail.com<br>
        <br />
    </div>

    <div class="clearfix"></div>

{% endblock %}