{% extends '::base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}

{% block content %}
    <iframe width="780" height="362" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps/ms?ie=UTF8&amp;msa=0&amp;msid=217340484493899141018.0004a533d4bc2e3e6b6e2&amp;source=embed&amp;ll=54.971524,-1.619014&amp;spn=0.002556,0.006641&amp;t=m&amp;output=embed"></iframe>

    <h1>Contact</h1>

    <p>Puteți lua legătura cu noi prin intermediul telefonului sau al email-ului. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque distinctio ducimus esse et id, iusto laudantium, necessitatibus nostrum pariatur praesentium quaerat quia rerum sequi vitae? At esse itaque sunt?</p>

    <div class="col-md-6">
        <h2>Adresă</h2>
        <address>
            Exemplu Stradă, nr. 1<br>
            Oraș,<br>
            Țară,<br>
            Cod poștal
        </address>
    </div>

    <div class="col-md-6">
        <h2>Date de contact</h2>

        <strong>Telefon: </strong><em>0741.xxx.xxx</em><br />
        <strong>Email: </strong>

        <ul>
            <li>petre@dreamlabs.ro</li>
            <li>patrasc.petre@gmail.com</li>
        </ul>
    </div>

    <img class="img-responsive img-thumbnail" src="http://placehold.it/960x441">

{% endblock %}