{% block footer %}
<!-- Site footer -->
<div class="container-fluid footer">
    <div class="container">
        <div class="text-center row">
            <p>&copy; <a href="http://petrepatrasc.github.io" target="_blank">Petre Pătrașc</a> 2013 &bull; <a href="http://thenounproject.com/noun/child-protection/#icon-No9353" target="_blank">Child Protection</a> designed by <a href="http://thenounproject.com/icothlon" target="_blank">Icothlon</a> from The Noun Project.</p>

            <p>This website is an open-source project, built with <i class="glyphicon glyphicon-heart"></i> and hosted on <a href="https://github.com/globesoft/dam-o-sansa-viitorului" target="_blank">GitHub</a>.</p>
        </div>
    </div>
</div>
{% endblock %}