{% extends '::base.html.twig' %}

{% block title %}Acasă | {{ parent() }}{% endblock %}

{% block content %}
    <div class="homepage-image">
        {#http://pixabay.com/en/banik-joints-boy-child-baby-187696/#}
        <img class="img-responsive img-thumbnail" src="{{ asset('bundles/damosansa/images/homepage-image.jpg') }}">
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1><strong><span class="text-info">Împreună,</span> <span class="text-success">dăm o șansă viitorului!</span></strong></h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Află cum putem ajuta!</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row text-center">
        <div class="col-lg-4">
            <img class="img-responsive img-thumbnail" src="http://placehold.it/150x150">
            <h2>Subtitlu 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">Află mai multe &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive img-thumbnail" src="http://placehold.it/150x150">
            <h2>Subtitlu 2</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">Află mai multe &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive img-thumbnail" src="http://placehold.it/150x150">
            <h2>Subtitlu 3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">Află mai multe &raquo;</a></p>
        </div>
    </div>
{% endblock %}