{% extends '::base.html.twig' %}

{% block title %}Parteneri | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Parteneri</h1>

    <div class="row">
        <img class="img-responsive col-lg-6" src="{{ asset('bundles/damosansa/images/partners/logo-ancaar.jpg') }}" />
        <img class="img-responsive col-lg-6" src="{{ asset('bundles/damosansa/images/partners/logo-landmark.jpg') }}" />
    </div>

    <div class="row">
        <img class="img-responsive col-lg-4 col-xs-12" src="{{ asset('bundles/damosansa/images/partners/logo-diana-iulia-olac.jpg') }}" />
    </div>

{% endblock %}