{% extends '::base.html.twig' %}

{% block title %}Parteneri | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Parteneri</h1>

    <p>Pagină în construcție, mai avem puțin de pregatit :)</p>

{% endblock %}