{% extends '::base.html.twig' %}

{% block content %}
    <h1>Parteneri</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloremque eius eligendi enim illo? Adipisci aliquam asperiores autem consectetur cum error numquam officia sapiente, sequi sint tempore, ullam, velit vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi error possimus quas sit? Aspernatur corporis culpa, fugiat ipsa iste laboriosam nobis pariatur porro quo, suscipit unde, voluptatem! Amet explicabo, vitae!</p>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Sprijinirea asociației</h3>
        </div>
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam aperiam cumque ducimus et explicabo impedit ipsa ipsum iusto magni maxime molestiae officiis optio quas quibusdam quisquam rem repudiandae vitae.
        </div>
    </div>

    <hr />

    <div class="listing-with-thumbnail">
        <img class="pull-left img-responsive img-thumbnail" src="http://placehold.it/150x150">
        <h3>ANKAR</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <div class="clearfix"></div>
    </div>

    <hr />

    <div class="listing-with-thumbnail">
        <img class="pull-right img-responsive img-thumbnail" src="http://placehold.it/150x150">
        <h3>Exemplu partner 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <div class="clearfix"></div>
    </div>

    <hr />

    <div class="listing-with-thumbnail">
        <img class="pull-left img-responsive img-thumbnail" src="http://placehold.it/150x150">
        <h3>Exemplu partner 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error expedita illo labore mollitia nostrum obcaecati quas sit vero voluptas. Amet eveniet ex, exercitationem incidunt optio quasi voluptatem. Quas, vero!</p>
        <div class="clearfix"></div>
    </div>

{% endblock %}