{% block sidebar %}
<div class="sidebar-item">
    <h3>Terapie</h3>

    <a href="{{ path('therapy', {'type': 'aba'}) }}">ABA</a>
    <a href="{{ path('therapy', {'type': 'give-me-5'}) }}">Give Me 5</a>
    <a href="#">Denver</a>
    <a href="#">8 ECS</a>
    <a href="#">Teach</a>
    <a href="#">Sunt Special</a>
    <a href="#">Consilere de grup</a>
</div>

<div class="sidebar-item">
    <h3>Dizabilități</h3>

    <a href="#">Dizabilitate 1</a>
    <a href="#">Dizabilitate 2</a>
    <a href="#">Dizabilitate 3</a>
    <a href="#">Dizabilitate 4</a>
    <a href="#">Dizabilitate 5</a>
    <a href="#">Dizabilitate 6</a>
    <a href="#">Dizabilitate 7</a>
</div>

<div class="sidebar-item">
    <h3>Contact</h3>

    <address><strong>
        Exemplu Stradă, nr. 1<br>
        Oraș,<br>
        Țară,<br>
        Cod poștal
    </strong></address>

    <strong>Telefon: </strong><em>0741.xxx.xxx</em><br />
    <strong>Email: </strong><br />

    petre@dreamlabs.ro<br>
    patrasc.petre@gmail.com<br>
    <br />
</div>
{% endblock %}