{% block sidebar %}
<div class="sidebar-item">
    <h3>Terapie</h3>

    <a href="#">ABA</a>
    <a href="#">Give Me 5</a>
    <a href="#">Denver</a>
    <a href="#">8 ECS</a>
    <a href="#">Teach</a>
    <a href="#">Sunt Special</a>
    <a href="#">Consilere de grup</a>
</div>

<div class="sidebar-item">
    <h3>Dizabilități</h3>

    <a href="#">Dizabilitate 1</a>
    <a href="#">Dizabilitate 2</a>
    <a href="#">Dizabilitate 3</a>
    <a href="#">Dizabilitate 4</a>
    <a href="#">Dizabilitate 5</a>
    <a href="#">Dizabilitate 6</a>
    <a href="#">Dizabilitate 7</a>
</div>

<div class="sidebar-item">
    <h3>Contact</h3>

    <address>
        Exemplu 1,<br />
        Oraș,
        Țară
    </address>
</div>
{% endblock %}